<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <title>gohtmx</title>
</head>
<body>
    <main>
        <header>
            <ul id="stock-list">
                {{ range .Stocks }}
                    {{ block "stock-element" .}}
                        <li>
                            <h5><strong>${{ .Price }}</strong> {{ .Ticker }}</h5>
                            <h6>{{ .Name }}</h6>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </header>

        <section>
            <input type="search" name="key" placeholder="search"
                hx-get="/search"
                hx-target="#results"
                hx-trigger="keyup changed delay:600ms"
            >
            <div id="results"></div>
        </section>
    </main>
</body>
</html>